#hero {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin-top: 7rem;
}

#hero .welcome img {
    width: 80px;
}

#hero .tex {
    display: none;
}

#hero .hero-text {
    font-size: 3rem;
    margin-top: -2rem;
    font-weight: 700;
}
#hero .hero-text span {
    color: var(--primary-color);
    font-weight: 700;
}

#hero .const {
    margin-top: -30px;
}

#hero .group {
    display: flex;
    align-items: center;
    position: relative;
    gap: 5vw;

}

#hero .group .img-1 {
    width: 350px;
}

#hero .img-2 {
    position: absolute;
    top: -3.5rem;
    left: 4px;
    width: 18.8em;
    z-index: 1;
}   

#hero .follow {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    margin-top: -30px;
}
#hero .follow-img {
    width: 20px;
}
#hero .social-accounts     {
    display: flex;
    gap: 20px;
    align-items: center;
    flex-direction: column;
}

#hero .social-accounts img {
    width: 15px;
}

#hero .quick-contact  {
    position: absolute;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    margin-top: -19px;
    
}

#hero .quick-contact img{
    position: absolute;
    width: 24px;
    cursor: pointer;
}

#hero .quick-contact  .imgs-1{
    position: absolute;
    left: -0.6rem;
    top: 1%;
}

#hero .quick-contact  .imgs-2{
    position: absolute;
    left: 6.7rem;
    top: 1.5%;
}

#hero .quick-contact  .imgs-3 {
    position: absolute;
    top: 12%;
    left: 43px;
}

#hero .quick-contact-btn  {
    position: relative;
    width: 100%;
    
}


#hero .quick-contact-btn  button {
    width: 125px;
    padding: 15px 10px 15px 10px;
    background:  var(--primary-color);
    border: none;
    border-radius: 10px;
    font-weight: 400;
    cursor: pointer;
    color: white;
    position: absolute;
    top: 20%;
    top: 30px;
    margin: 0;
}

#hero .quick-contact .img {
    display: none;
}

#hero .quick-contact:hover .img {
    display: block;
}
@media only screen and (min-width: 320px) and (max-width: 480px){
    #hero {
        display: flex;
        flex-direction: column-reverse;
        margin-left: -6vw;
    }

    #hero .hero-text{
        font-size: 2.3rem;
        height: 10.5rem;
    }

    #hero .i {
        margin-top: -26px;
    }

    #hero .follow {
        margin-left: -24.7rem;    
}

}
 @media only screen and (min-width: 481px) and (max-width: 600px){
    #hero {
        display: flex;
        flex-direction: column-reverse;
        margin-left: 8vw;
    }

    #hero .hero-text{
        font-size: 2.3rem;
        height: 10.5rem;
    }

    #hero .i {
        margin-top: -69px;
    }


}
/* 600 above */
@media only screen and (min-width: 601px) and (max-width: 768px){
#hero .group .img-1 {
    width: 300px;
}


#hero .img-2 {
    width: 16rem;
}

#hero .hero-text {
    font-size: 2rem;
    height: 10rem;
}

}

@media only screen and (min-width: 700px) and (max-width: 769px){
    #hero .i {
        margin-top: -3rem;
    }   
}

@media only screen and (min-width: 769px) and (max-width: 900px){
    
    #hero .hero-text {
        font-size: 2rem;
    }
    
    }