#clients {
    margin-top: 2rem;
}

#clients .generalCont {
    display: flex;
    align-items: center;
    gap: 12vw;
    margin-left: 3rem;
    position: relative;
}

#clients .num{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2.5rem;
    color: var(--primary-color);
    font-weight: 700;
}

#clients .info {
    font-size: 23px;
    margin-top: -22px;
    margin-left: -3.3rem;
}

#clients .design-2 {
    position: absolute;
    top: -2rem;
    left: 97%;
   
}

#clients .design-2 img {
    width: 4.5vw;

}