#clients {
    margin-top: 2rem;
}

#clients .generalCont {
    display: flex;
    align-items: center;
    gap: 12vw;
    margin-left: 3rem;
    position: relative;
}

#clients .num{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2.5rem;
    color: var(--primary-color);
    font-weight: 700;
}

#clients .info {
    font-size: 23px;
    margin-top: -22px;
    margin-left: -3.3rem;
}

#clients .design-2 {
    position: absolute;
    top: -2rem;
    left: 97%;
   
}

#clients .design-2 img {
    width: 4.5vw;

}

@media only screen and (min-width: 320px) and (max-width: 480px){
    #clients .num {
        font-size: 1.7rem;
    }    

    #clients .generalCont{
        margin-left: -1rem;
        gap: 9vw;
    }

#clients .info {
    font-size: 11px;
    margin-left: -0.3rem;
}

#clients .design-2 {
    left: 92%;
}

#clients .design-2 img {
    width: 6vw;
}
}

@media only screen and (min-width: 481px) and (max-width: 600px){
    #clients .generalCont { 
        gap: 8vw;
        margin-left: 1rem;
    }

    #clients .num {
        font-size: 1.7rem;
    }

    #clients .info {
        font-size: 10px;
        margin-left: 0;
    }
 }

 /* 600 above */
 
 @media only screen and (min-width: 601px) and (max-width: 768px){
    #clients .generalCont { 
        gap: 10vw;
        margin-left: 1rem    }

    #clients .num {
        font-size: 1.5rem;
    }

    #clients .info {
        font-size: 14px;
    }
 }


