html {
  scroll-behavior: smooth;
}

:root {
  --font: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  --primary-color: #0db760;
  --rt: 20px;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;
  font-family: var(--font);
}
.container {
  padding: 20px 0 0px 50px;
  max-width: 1200px;
  margin: 0 auto;
  box-sizing: border-box;
}