#contact {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5rem;
    margin-left: -50px;
}

#contact .contact-img  {
    display: flex;
    justify-content: center;
    align-items: center;
}

#contact .contact-img img {
    width: 80px;
    margin-bottom: -30px;
}

#contact .text-1 {
    display: flex;
    justify-content: center;
    font-weight: 700;
    font-size: 2.2rem;

}

#contact .text-1 span {
    color: var(--primary-color);
}

#contact .text-2 P{
    display: flex;
    justify-content: center;
    margin-top: -15px;
    font-size: 14px;
    margin-left: 7.5rem;
}

#contact  .inspires{
    margin-left: 10rem;
}
#contact .contactInfo  {
    display: flex;
    align-items: center;
    margin-top: -2rem;
    gap: 20vw;
    margin-left: 15vw;
}
#contact .contactInfo .infoDiv{
    display: flex;
    flex-direction: column;
    gap: 3rem;
    margin-top: 5rem;
    margin-left: -3rem;
}

#contact .infoDetails {
    display: flex;
    gap: 10px;
}

#contact .infoDetails img {
    width: 50px;
}


#contact .cont-div {
    font-size: 15px;
    margin-top: -12px;
    align-items: center;
}

#contact .cont-div  :nth-child(1) {
    color: #92929D;
}

#contact .cont-div  :nth-child(2) {
    font-weight: 500;
    margin-top: -10px;
}


#contact .form-input {
    margin-left: -5rem;
    margin-top:  2rem; 
}

#contact form {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-top: 1rem;
}

#contact form div{
    display: flex;
    gap: 20px;

}

#contact form div input {
    padding: 10px 2vw 10px 2vw;
    width: 18vw;
    height: 1.2rem;
}

#contact .text-area textarea {
    padding: 10px 2vw 10px 2vw;
    width: 42.2vw;
    height: 7.5rem;
}

#contact .submit-btn {
    display: flex;
    align-items: end;
    justify-content: end;
}

@media only screen and (min-width: 320px) and (max-width: 480px){ 
    #contact {
        margin-left: -2rem;
        margin-top: 34rem;
    }
    #contact .contactInfo {
        flex-direction: column-reverse;
    }

    #contact .contactInfo .infoDiv{
        margin-top: -1rem;
    }

    #contact form div input {
        width: 36vw;
        border: 2px solid silver;
        outline: none;
    }

    #contact .text-2 P {
        font-size: 15px;
        margin-left: 1rem;
    }
    #contact .text-1 {
        font-size: 1.8rem;
    }

    #contact .text-area textarea {
        width: 83.2vw;
        border: 2px solid silver;
        outline: none;
    }
}


@media only screen and (min-width: 481px) and (max-width: 600px){ 
    #contact {
        margin-left: -2rem;
        margin-top: 33 rem;
    }
    #contact .contactInfo {
        flex-direction: column-reverse;
    }

    #contact .contactInfo .infoDiv{
        margin-top: -1rem;
    }

    #contact form div input {
        width: 36vw;
        border: 2px solid silver;
        outline: none;
    }

    #contact .text-2 P {
        font-size: 15px;
        margin-left: 1rem;
    }
    #contact .text-1 {
        font-size: 1.8rem;
    }

    #contact .text-area textarea {
        width: 83.2vw;
        border: 2px solid silver;
        outline: none;
    }
}



@media only screen and (min-width: 601px) and (max-width: 767px){ 
    #contact {
        margin-left: -2rem;
        margin-top: 35rem;
    }
    #contact .contactInfo {
        flex-direction: column-reverse;
    }

    #contact .contactInfo .infoDiv{
        margin-top: -1rem;
    }

    #contact form div input {
        width: 36vw;
        border: 2px solid silver;
        outline: none;
    }

    #contact .text-2 P {
        font-size: 15px;
        margin-left: 1rem;
    }
    #contact .text-1 {
        font-size: 1.8rem;
    }

    #contact .text-area textarea {
        width: 83.2vw;
        border: 2px solid silver;
        outline: none;
    }
}

@media only screen and (min-width: 768px) and (max-width: 800px){ 
    #contact {
        margin-left: -6rem;
        margin-top: 7rem;
    }

}