#navbar .nav {
    display: flex;
    align-items: center;
}
#navbar .logo {
    display: flex;
    align-items: center;
}
#navbar .logo img {
    width: 70px;
}

#navbar .logo span {
    font-size: 2rem;
    color: var(--primary-color);
    font-weight: 700;
}
#navbar .nav-ul {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#navbar .nav-ul ul{
    display: flex;
}

#navbar .nav-ul li {
    display: inline-block;
    margin-right: 7vw;
    font-size: 17px;
}

#navbar .nav-btn {
    display: flex;
    align-items: start;
    justify-content: end;
    width: 300px;
    margin-right: 5vw;
}

#navbar .nav-btn button {
    width: 140px;
    padding: 17px 20px 17px 20px;
    background: none;
    border: 2px solid var(--primary-color);
    border-radius: 10px;
    font-weight: 700;
    cursor: pointer;
}

#navbar .design img {
    width: 25rem;
    margin-top: 0rem;
    margin-left: -3.4rem;
}

#navbar .design{
    position: absolute;
    z-index: -1;
}

a {
    text-decoration: none;
    color: black;
}
