#navbar .nav {
    display: flex;
    align-items: center;
    margin: 0;
    padding: 0;
    position: relative;
}
#navbar .logo {
    display: flex;
    align-items: center;
}
#navbar .logo img {
    width: 70px;
}

#navbar .logo span {
    font-size: 2rem;
    color: var(--primary-color);
    font-weight: 700;
}
#navbar .nav-ul {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 2s;
}

#navbar .nav-ul ul{
    display: flex;
}

#navbar .nav-ul li {
    display: inline-block;
    margin-right: 7vw;
    font-size: 17px;
}

#navbar .nav-btn {
    display: flex;
    align-items: start;
    justify-content: end;
    width: 300px;
    margin-right: 24vw;
}

#navbar .nav-btn button {
    width: 140px;
    padding: 17px 20px 17px 20px;
    background: none;
    border: 2px solid var(--primary-color);
    border-radius: 10px;
    font-weight: 700;
    cursor: pointer;
}

#navbar .design img {
    width: 30rem;

}

#navbar .design{
    position: absolute;
    z-index: -1;
    margin-top: 0rem;
    left: -4.1rem;   
}

a {
    text-decoration: none;
    color: black;
}

#navbar .bars {
    position: absolute;
    top: 0;
    left: 84vw;
    display: none;
}

#navbar .bars  i {
    font-size: 30px;
    color: black;
}

#navbar #true {
    margin-left: 0;
}

#navbar #false {
    margin-left: 0;
}



@media only screen and (max-width: 1000px){
    #navbar {
        padding: 0;
    }

    #navbar .nav {
        display: block;
    }
#navbar .nav-ul  {
    position: relative;
    width: 100%;
    flex-direction: column;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 19;
    background: rgb(0, 0, 0, 0.8);
    height: 100vh;
    margin: 0;
    width: 100%;
}

#navbar .design{
    left: -70vw;   
}

#navbar .bars {
    position: absolute;
    top: 0;
    left: 90vw;
    display: block;
}

#navbar .nav-ul ul {
    flex-direction: column;
    gap: 4rem;
    color: white; 
    margin-top: -9rem;
}

#navbar .nav-ul li a, #navbar .nav-ul li {
    color: white;
    font-size: 32px;
    font-weight: 700;
}

#navbar .nav-btn {
    align-items: start;
    justify-content: center;
    margin-right: 0;
    width: 100%;
    position: absolute;
    color: white;
    z-index: 103;
    top: 140vw;
    left: 0vw;

}

#navbar .nav-btn button {
    color: white;
}

#navbar #true {
    margin-left: 0;
}

#navbar #false {
    margin-left: 100%;
}
}
