#footer {
    margin-top: 3rem;
}

#footer .div-1 {
    display: flex;
    justify-content: center;
    margin-left: 4rem;
}

#footer .div-1 div {
        display: flex;
        flex-direction: column;
}

#footer .div-1 img {
    width: 94%;
    height: 1px;
}


#footer .div-2 {
    display: grid;
    grid-template-columns: repeat(3, 67.6vw);
    align-items: center;
    margin-left: 4rem;
    font-weight: 400;
    /* font-size: 1.3vw; */
}

#footer .div-2 .footerImg {
    display: flex;
    gap: 20px;
}

#footer .div-2 img {
    width: 25px;
}

#footer .credit {
    margin-left: -8vw;
}

#footer .designed {
    font-size: 12px;
    font-weight: 500;
}

#footer .all {
    display: flex;
    width: 100%;
    gap: 20vw;
}

@media only screen and (min-width: 320px) and (max-width: 480px){ 
    #footer {
        margin-left: -27vw;
    }

    #footer .div-2 {
        display: flex;
        flex-direction: column;
        gap: 15px;
        margin-left: 18vw;
    }

    #footer .all {
        gap: 7vw;
    }

    #footer .div-2 .footerImg {
        margin-left: -52vw;
    }

    #footer .div-1 {
        margin-left: 18vw;
    }
 }

 @media only screen and (min-width: 481px) and (max-width: 768px){ 
    #footer .div-1 {
        margin-left: -5vw;
        margin-bottom: 14px;
    }

    #footer .div-2 {
        margin-left: -5vw;
    }

    #footer .all {
        gap: 11vw;
    }
 }