#mySkills{
    margin-top: 3rem;
}

#mySkills .generalCont {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30vw;
}
#mySkills .div-1 {
    margin-top: 5rem;
}
#mySkills .div-1 img {
    width: 80px;
}

#mySkills  .why  {
    font-weight: 700;
    font-size: 2rem;
    margin-top: -22px;
}

#mySkills .why :nth-child(2) {
    margin-top: -20px;
}

#mySkills .why span {
    color: var(--primary-color);
}

#mySkills .skills-display {
    position: relative;
    transition: all 1s;
}

#mySkills .skills-display div img {
    position: absolute;
    width: 80px;
}

/* #mySkills .img-1 {
    
} */

#mySkills .img-2 {
    position: absolute;
    left: -10rem;
    top: 8rem;
}

#mySkills .img-3 {
    position: absolute;
   top: 19rem;
   left: -10rem;
}


#mySkills .img-4 {
    position: absolute;
   top: 23rem;
}

#mySkills .img-5  {
    position: absolute;
    top: 19rem;
    left: 10rem;
 }

#mySkills .img-6  {
   position: absolute;
   top: 8rem;
   left: 10rem;
}

#mySkills .skills-display:hover {
    transform: scale(0.9);
}


#mySkills .tag-1 {
    position: absolute;
    top: 74px;  
    font-size: 22px;
 }

 #mySkills .tag-2 {
    position: absolute;
    top: 74px;  
    font-size: 22px;
 }

 #mySkills .tag-3 {
    position: absolute;
    top: 74px;  
    font-size: 22px;
 }

 #mySkills .tag-4 {
    position: absolute;
    top: 74px;  
    font-size: 22px;
 }

 #mySkills .tag-5 {
    position: absolute;
    top: 74px;  
    font-size: 22px;
 }

 #mySkills .tag-6 {
    position: absolute;
    top: 74px;  
    font-size: 22px;
 }

 #mySkills .tag {
    display: none;
 }

 #mySkills p {
    transition: all 5s;
 }

 #mySkills .skills-display:hover .tag{
    display: block;
 }

 #mySkills .skills-display div:hover .tag {
    display: block;
 }

 #mySkills .hire-btn {
    width: 125px;
    padding: 15px 10px 15px 10px;
    background:  var(--primary-color);
    border: none;
    border-radius: 10px;
    font-weight: 400;
    cursor: pointer;
    color: white;
    top: 30px;
    margin: 0;
 }

@media only screen and (min-width: 320px) and (max-width: 480px){ 

    #mySkills {
        margin-left: -6vw;
        margin-top: 1rem;
    }
#mySkills .generalCont {
    display: flex;
    flex-direction: column;
}

#mySkills .why-2 {
    margin-top: -16px;
}

#mySkills .text-a {
    margin-top: -5px;
}

#mySkills .why {
    font-size: 1.5rem;
}

#mySkills .skills-display div img {
    width: 59px;
}

#mySkills  .img-1 {
    position: absolute;
    left: 38vw;
    top: 1px; 
}

#mySkills .img-2  {
    /* left: 1rem; */
    left: 4vw;
}

#mySkills .img-3 {
    /* left: 1rem; */
    left: 4vw;
}

#mySkills .img-4 {
    top: 25rem;
    left: 38vw;
}


#mySkills .img-5 {
    /* left: 16rem; */
    left: 70vw;
}
#mySkills .img-6 {
    /* left: 16rem; */
    left: 70vw;
}

#mySkills .tag {
    display: block;
    font-size: 15px;
 }
}


@media only screen and (min-width: 481px) and (max-width: 600px){
    #mySkills {
        margin-left: 7vw;
        margin-top: 1rem;
    }
#mySkills .generalCont {
    display: flex;
    flex-direction: column;
}

#mySkills .why-2 {
    margin-top: -16px;
}

#mySkills .text-a {
    margin-top: -5px;
}

#mySkills .why {
    font-size: 1.5rem;
}

#mySkills .skills-display div img {
    width: 59px;
}

#mySkills  .img-1 {
    position: absolute;
    left: 38vw;
    top: 1px; 
}

#mySkills .img-2  {
    /* left: 1rem; */
    left: 12vw;
}

#mySkills .img-3 {
    /* left: 1rem; */
    left: 12vw;
}

#mySkills .img-4 {
    top: 25rem;
    left: 38vw;
}


#mySkills .img-5 {
    /* left: 16rem; */
    left: 59vw;
}
#mySkills .img-6 {
    /* left: 16rem; */
    left: 59vw;
}

#mySkills .skills-display {
    margin-top: -8rem;
    margin-left: -8vw;
}
#mySkills .tag {
    display: block;
 }
 }


 @media only screen and (min-width: 601px) and (max-width: 768px){
    #mySkills {
        margin-left: -8vw;
        margin-top: 1rem;
    }
#mySkills .generalCont {
    display: flex;
    flex-direction: column;
}

#mySkills .why-2 {
    margin-top: -16px;
}

#mySkills .text-a {
    margin-top: -5px;
}

#mySkills .why {
    font-size: 1.5rem;
}

#mySkills .skills-display div img {
    width: 59px;
}

#mySkills  .img-1 {
    position: absolute;
    left: 38vw;
    top: 1px; 
}

#mySkills .img-2  {
    /* left: 1rem; */
    left: 12vw;
}

#mySkills .img-3 {
    /* left: 1rem; */
    left: 12vw;
}

#mySkills .img-4 {
    top: 25rem;
    left: 38vw;
}


#mySkills .img-5 {
    /* left: 16rem; */
    left: 59vw;
}
#mySkills .img-6 {
    /* left: 16rem; */
    left: 59vw;
}

#mySkills .skills-display {
    margin-top: -8rem;
    margin-left: 7vw;
}

#mySkills .tag {
    display: block;
 }

 #mySkills .div-1 {
    margin-left: 6vw;
 }
 }
